<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>

<header th:replace="~{fragments/nav :: navbar}"></header>
<h1> <b>Dashboard</b></h1>

<table>
    <tr>
        <td>Status</td>
        <td>Count</td>
    </tr>
    <tr th:each="entry : ${statusCount}">
        <td th:text="${entry.key.displayName}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>