<!-- src/main/resources/templates/index.html -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>

<body>

<!-- <header th:insert="~{fragments/nav :: navbar}"></header>  -->

<!-- th:replace replaces the host element entirely -->
<header th:replace="~{fragments/nav :: navbar}"></header>

<main class="container">
<h1 th:text="${message}">Default heading</h1>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>