<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Task List</title>

</head>

<body>

<header th:replace="~{fragments/nav :: navbar}"></header>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
         <tr th:each="task : ${tasks}">
             <td><a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.id}">N/A</a></td>
             <td th:text="${task.title}"></td>
             <td th:text="${task.status.displayName}"></td>
             <td th:text="${task.priority.displayName}"></td>
         </tr>
    </table>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>